<div class="container">
  <br>
  <h1 style="text-align: center;">Embracing the<b><span style="color: #4a90e2;"> Magic of Today!</span></b></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.tripsavvy.com/thmb/LCNQxYf3oZnIZgcDgBWEztPc3yQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-535155562-5931223e3df78c08aba1a24c.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://im.indiatimes.in/content/2024/Feb/Isha-Mahashivratri-2024-Date-Time-and-Vanue2_65d09d4b31751.jpg?w=640&h=359&cc=1&webp=1&q=75" class="img-fluid" style="height: 275px; width: 500px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://static.toiimg.com/thumb/msid-80334120,width-748,height-499,resizemode=4,imgsize-2898008/.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.visionvivaah.com/blog/wp-content/uploads/2019/12/Event-organizer-for-cultural-shows.jpg" style="height: 275px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://c4.wallpaperflare.com/wallpaper/926/812/34/people-event-india-wallpaper-preview.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://primexnewsnetwork.com/wp-content/uploads/2023/12/1-29.jpg" style="height: 275px; width: 500px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.teacupsfull.com/cdn/shop/articles/Miss_World_2024.jpg?v=1709038152&width=1100" class="img-fluid" style="height: 270px; width: 500px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://images.indianexpress.com/2016/01/jlf_crowd_759.jpg?w=414" style="height: 270px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.childrensnook.in/wp-content/uploads/2018/04/cn-specialdays-one.jpg" style="height: 270px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>