
.body{
  width: 1000vw;
  height: 1800px;
  background-image: url('https://wallpapercave.com/wp/wp7969053.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

  .card {
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #666;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  