<div class="" style="height: auto;">
  <carousel>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/video/202302/sidharth_malhotra_and_kiara_advani_shared_dreamy_wedding_pictures_1-sixteen_nine.jpg?VersionId=8S3LnaxFFBtZGRLjUIZ4u0ig5FdR_49Z"
          class="d-block w-100" alt="slide1">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://apis.xogrp.com/media-api/images/72241d24-e14d-4cca-98a6-9af1d06b95cf"
          class="d-block w-100" alt="Slide2">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://wallpapercave.com/wp/wp7488275.jpg"
          class="d-block w-100" alt="slide3">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Mobile">
        <img src="http://wed-in-style.co.uk/collection/Mandaps/AmeliaCarved/41.jpg"
          class="d-block w-100" alt="slide4">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Mobile">
        <img src="https://d1jhy9q0556ci9.cloudfront.net/wp-content/uploads/2018/11/riverwind-meet-corporate-events-main.jpg"
          class="d-block w-100" alt="slide5">
      </a>
    </slide>
  </carousel>
</div>