.footer {
  background-color:black;
  color: #fff;
  padding: 20px 0;
  position:relative;
  bottom: -99px;
  width: 100vw;
}

.container {
  width: 100vw;
  max-width: auto;
  margin: 0 auto;
  padding: 0 15px;
}
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    cursor: pointer;
    /* pointer-events; */
  }
  .footer-column ul li a{
    text-decoration: none;
    color: white;
  }
  
  .newsletter {
    margin-top: 20px;
  }
  
  .newsletter h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .newsletter p {
    margin-bottom: 10px;
  }
  
  .newsletter form {
    display: flex;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .newsletter button {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  /* Example media query for responsiveness */
  @media screen and (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
    }
  
    .footer-column {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .newsletter {
      margin-top: 40px;
    }
  
    .newsletter form {
      flex-direction: column;
    }
  
    .newsletter input[type="email"] {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .newsletter button {
      border-radius: 5px;
    }
  }
