<div class="container-1">
    <form #category="ngForm" (ngSubmit)="getEventByCategory(category.value.category)">
        <select name="category" ngModel>
            <option value="" selected>Select Category</option>
            <option value="Laptop"  >Laptop  </option>
            <option value="Mobile">Mobile</option>
            <option value="Smart Watch">Smart Watch</option>
            <option value="Tv">TV</option>
        </select>
        <button>Submit</button>
    </form>
</div>

    
<div class="outer1">
    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="width:100%">
                    <th style="width:15%" align="center">Image</th>
                    <th style="width:45%">Description</th>
                    <th style="width:10%">Name</th>
                    <th style="width:10%">Price</th>
                    <th style="width:10%">Quantity</th>
                    <th colspan="2" style="width:10%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events;">
                    <td><img class="card-img-top" [src]="event.imgsrc" alt="Card image"></td>
                    <td><textarea name="description" cols="50" rows="5" [(ngModel)]="event.description"></textarea></td>
                    <td><h5><b>{{ event.name }}</b></h5></td>
                    <td><input cols="5" type="number" name="price" [(ngModel)]="event.price"></td>
                    <td><input type="number" name="quantity" [(ngModel)]="event.noOfMembers"></td>
                    <td><button (click)="editEvent(event)">Edit</button></td>
                    <td><button (click)="deleteEvent(event.pId)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>