
<div class="outer1">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let event of events; let i = index;">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" [src]="event.imgsrc" alt="Card image">
                            <div class="card-footer">
                                <button class="btn btn-primary"  (click)="addToBooking(event)">Add to Booking</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title-dark "><b>{{ event.name }}</b></h5>
                                <p class="card-text">{{ event.description }}</p>
                                <p class="card-text-dark "><b>Price: ₹{{ event.price }}/-</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>