
<body>
    

<div class="container-1">
    <form #event="ngForm" (ngSubmit)="addEvent(events.value)">
        <!-- <div class="formGroup">
            <label>Enter Product-ID : </label>
            <input type="number" name="pId" ngModel>
        </div> -->
        <div class="formGroup">
            <label >Enter Event Name : </label>
            <input type="text" name="name" ngModel>
        </div>
        <div class="formGroup">
            <label>Enter Event Category : </label>
            <!-- <input type="text" name="category" ngModel> -->
            <select name="category" ngModel>
                <option value="" selected>Select Category</option>
                <option value="Laptop"  >Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="Smart Watch">Smart Watch</option>
                <option value="Tv">Tv</option>
            </select>
        </div>
        <div class="formGroup">
            <label >Enter Event Description : </label>
            <input type="text" name="description" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Event Image Source : </label>
            <input type="text" name="imgsrc" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Event Price : </label>
            <input type="text" name="price" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Event noOfMembers : </label>
            <input type="number" name="noOfMembers" ngModel>
        </div>
        <div class="formGroup">
            <label ></label>
            <button>ADD</button>
        </div>
    </form>
</div>
</body>