<!-- <div class="box">
<div class="container">
    <form #regForm ="ngForm" (ngSubmit)="custRegister(regForm.value)">
        <table align="center">

            <tbody>
                <tr>
                    <td>Full Name <span style="color: red;">*</span></td>
                    <td><input type="text" name="fullName" ngModel required/> </td>
                </tr>
                <tr>
                    <td>Mobile Number <span style="color: red;">*</span></td>
                    <td>
                        <input type="number" name="mobile" #mobile="ngModel" ngModel maxlength="10" minlength="10" required 
                        pattern="^[6-9][0-9]{9}$">
                    </td>
                </tr>
                <tr style="color: red;">
                    <td></td>
                    <td>
                        <p *ngIf="mobile.errors?.['minlength'] && mobile.touched">Please provide atleast 10 characters for Mobile Number</p>
                        <p *ngIf="!mobile.valid && mobile.touched">Please provide a valid Mobile Number</p>
                    </td>
                </tr>
        
                <tr>
                    <td>EmailId <span style="color: red;">*</span></td>
                    <td>
                        <input type="email" name="emailId" required ngModel #emailId="ngModel" minlength="2"
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|co\.in|in|edu)" />
                    </td>
                </tr>
                <tr style="color: red;">
                    <td></td>
                    <td>
                        <p *ngIf="emailId.errors?.['required'] && emailId.touched">Please Provide The Email-Id</p>
                        <p *ngIf="emailId.errors?.['minlength'] && emailId.touched">Please provide atleast 2 characters for Email-Id</p>
                        <p *ngIf="emailId.errors?.['pattern'] && emailId.touched">Please provide valid Email-Id</p>
                    </td>
                </tr>
                <tr>
                    <td>Password <span style="color: red;">*</span></td>
                    <td>
                        <input type="password" name="password" required ngModel #password="ngModel" minlength="8"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^])[A-Za-z\d@$!%*?&^]{8,}"/>
                    </td>
                </tr>
                <tr style="color: red;">
                    <td></td>
                    <td>
                        <p *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</p>
                        <p *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 8 characters for password</p>
                        <p *ngIf="password.errors?.['pattern'] && password.touched">Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character (excluding '.')</p>
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password <span style="color: red;">*</span></td>
                    <td>
                        <input type="password" name="password1" required ngModel #password1="ngModel" />
                    </td>
                </tr>
                <tr style="color: red;">
                    <td></td>
                    <td>
                        <p *ngIf="!(password.value === password1.value) && password1.touched">Password should match!</p>
                    </td>
                </tr> 
                <tr>
                    <td></td>
                    <td>
                        <form [formGroup]="aFormGroup">
                            <ngx-recaptcha2 #captchaElem
                              [siteKey]="siteKey"
                              (success)="handleSuccess($event)"
                              formControlName="recaptcha">
                            </ngx-recaptcha2>
                          </form>       
                    </td>
                </tr>  
                <tr>
                    <td></td>
                    <td><button [disabled]="regForm.invalid">Register</button> Already User? <a routerLink="//login">SignIn</a> </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</div> -->
<div>

    <body>
        <h1 align="center" style="color: #4a90e2;"> <b> User Registration </b></h1>
        <form #regForm ="ngForm" (ngSubmit)="custRegister(regForm.value)">
            <div class="form-container">
                <table>
                    <tr>
                        <td>UserName</td>
                        <td><input type="text" name="userName" ngModel required /></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <select name="gender" ngModel required>
                                <option value="" selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="address" ngModel required /></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>
                            <select name="country" ngModel required>
                                <option value="" selected>Select Country</option>
                                <option value={{country.cca3}} *ngFor="let country of countries">
                                    {{country.name.common}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>
                            <input type="text" name="mobileNo" ngModel #mobileNo="ngModel" required
                                pattern="[6789][0-9]{9}" />
                            <p *ngIf="mobileNo.errors?.['required'] && mobileNo.touched" class="error-text">Enter Phone
                                Number</p>
                            <p *ngIf="mobileNo.errors?.['pattern'] && mobileNo.touched" class="error-text">Enter valid
                                Phone
                                Number</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Email-Id</td>
                        <td>
                            <input type="email" name="emailId" ngModel #emailId="ngModel"
                                pattern="^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$" />
                            <p *ngIf="emailId.errors?.['pattern'] && emailId.touched" class="error-text">Enter a valid
                                email
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="password" ngModel #password="ngModel" required
                                pattern="^(?=.[A-Za-z])(?=.\d)[A-Za-z\d@$!%*#?&]{8,}$" />
                            <p *ngIf="password.errors?.['required'] && password.touched" class="error-text">Enter
                                password
                            </p>
                            <p *ngIf="password.errors?.['pattern'] && password.touched" class="error-text">Password Must
                                contain one Special Character,One UpperCase,One LowerCase,One Number, Min Length of 8
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <form [formGroup]="aFormGroup">
                                <ngx-recaptcha2 #captchaElem
                                  [siteKey]="siteKey"
                                  (success)="handleSuccess($event)"
                                  formControlName="recaptcha">
                                </ngx-recaptcha2>
                              </form>       
                        </td>
                    </tr>  
                    <!-- <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="conformPassword" ngModel [(ngModel)]="conformPassword" #conformPassword="ngModel" required /></td>
          </tr> -->
                    <tr>
                        <td></td>
                        <td>
                            <button>Register</button>
                            Already User? <a routerLink="/login">SignIn</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</div>