<div class="outer1">
  

<div class="container">
  <br>
  <h1 style="text-align: center;">Capturing the <b><span style="color: #4a90e2;">Magic of Birthdays!</span></b></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://us.123rf.com/450wm/milkos/milkos2401/milkos240104179/222481418-multiracial-friends-looking-at-bday-woman-blowing-out-candles-indoor.jpg?ver=6" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://media.istockphoto.com/id/947327608/photo/friends-with-cake-with-candles-celebrating-birthday-at-a-party.jpg?s=612x612&w=0&k=20&c=cbkCiWbxhPhzF5TeoMxM6aYviTF8Gnl9h0b4JUOgN6E=" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.shutterstock.com/image-photo/businesspeople-celebrating-their-colleagues-birthday-260nw-2100754390.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://4kids.com/wp-content/uploads/2023/06/iFly-Roseville.png" class="img-fluid" style="height: 300px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/9043f247-d802-4e57-8237-42307048e2b5.__CR0,0,970,600_PT0_SX970_V1___.jpg" class="img-fluid" style="height: 300px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://t4.ftcdn.net/jpg/07/16/15/59/360_F_716155925_78oGOw1dMFuDn3poFhL4kDKGEn1lHEx1.jpg" class="img-fluid" style="height: 300px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://informationngr.com/wp-content/uploads/2022/07/Happy-Birthday-Wishes-To-November-Born-Celebrants-697x458.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://bangkokpartyrentals.com/wp-content/uploads/2021/06/nye-wine-pairing.jpg" style="height: 275px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://bangkokpartyrentals.com/wp-content/uploads/2021/06/bigstock-Friends-Enjoying-Party-And-Th-166656893-e1490209435880.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>