*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    z-index: 1;
}
.header{
    position: fixed;
    top: -80px;
}
.header-1{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 195, 196); 
}
.nav-part-1{
    display: flex;
    cursor: pointer;
}
.logo {
    height: 70%;
    width: auto;
    margin: 12px auto;
    border-radius: 50%;
}

.nav-Brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    font-size:xx-large;
    color: black;
    text-shadow: 2px 2px 2px orange;
}

.nav-part-2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.search-input{
    width:  300px;
    min-width: 10px;
    height: 40px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    padding-left: 10px;
}

.search-button{
    height: 40px;
    border-radius: 8px;
    padding: 0px 8px;
    background-color: rgb(226, 5, 204);
    color: white;
    transition: all 0.5s;
    font-weight: bolder;
}
.search-button:hover{
    background-color: rgb(158, 155, 28);
    padding: 5px;
}

.nav-part-3{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 18%;
}
.login{
    text-decoration: none;
    color: white;
    padding: 7px 19px;
    background-color: green;
    width: 100px;
    margin-left: 10%;
    margin-top: auto;
    margin-right: 7%;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: bolder;
}
.login:hover{
    background-color: black;
    /* width: 31%;
    height: 41px; */
}
.cart{
    text-decoration: none;
    color: white;
    height: 40px;
    width: 80px;
    margin-left: 7%;
    margin-right: 10%;
    background-color: rgb(226, 5, 204);
    padding: 7px 15px;
    border: 1px solid rgb(158, 155, 28);
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: bolder;
}
.cart:hover{
    background-color: rgb(158, 155, 28);
}

/* -----------header-2 DropDown----------- */


.navbar{
    /* background: #0082e6; */
    background: black;
    height: 50px;
    width: 100%;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
.navbar ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
a.active1, a:hover{
    background: #b803ac;
    transition: .5s;
}

.checkbtn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu-icon{
    z-index: 1;
    position: fixed;
    right: 20px;
    float: right;
    width: 40px;
    height: 40px;
}
#check{
    display: none;
}

/* @media (max-width : 952px){
    .navbar ul{
        height: 100vh;
        width: 100%;
        position: fixed;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    .navbar ul li{
        display: flex;
        flex-direction: column;
        line-height: 80px;
        margin: 0 5px;
        
    }
    .navbar ul li a{
        font-size: 16px;
    }
} */

@media (max-width : 858px){
    .checkbtn{
        display: block;
        /* width: 40px;
        height: 40px; */
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:  #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .navbar ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    a:hover, a.active1{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}


/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    min-width: 200px;
    /* z-index: 1; */
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1b9bff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Adjustments for smaller screens */
@media (max-width: 858px) {
    .dropdown:hover .dropdown-content {
        display: none;
    }
}

