
<nav class="navbar bg-body-tertiary">
  <div class="header">
  <div class="header-1">
    <div class="nav-part-1" routerLink="">
      <div>
        <img class="logo" src="src\assets\IMGS\GG-logo.png" alt="">
      </div>
      <div class="nav-Brand"></div>
    </div>
    <!-- <form class="nav-part-2" #event ="ngForm"  (ngSubmit)="search(event.value)">
        <input class="me-2 search-input" ngModel name="name" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button">Search</button>
    </form> -->
   
  </div>

  <div class="header-2">   
    <nav class="navbar">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <img class="menu-icon" src="https://cdn-icons-png.freepik.com/256/4204/4204600.png?ga=GA1.1.388368384.1702624134&" alt="">
      </label>
      <ul>

        <li><a  href="" routerLink="active1" routerLink="">Home</a></li>
        <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="aboutus">About Us</a></li>
        <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="contact-us">Contact Us</a></li>
        <li class="dropdown">
          <a *ngIf="!adminService.adminLoginStatus" class="dropbtn" href="" routerLink="Events">Events</a>
          <div class="dropdown-content">
            <a  routerLink="Weddings">Weddings</a>
            <a  routerLink="birthdays">Birthdays</a>
            <a  routerLink="corporate-events">Corporate Events</a>
            <a  routerLink="special-days">Special Days</a>
          </div>
        </li>
        <li><a  routerLink="demos" >Demos</a></li>
        <li *ngIf="adminService.adminLoginStatus">
          <a routerLink="addevents">Add Event</a>
          <a routerLink="showevents">Show Events</a>
          <a routerLink="showallcustomers">Show All Customers</a>
          <a routerLink="showcustomerbyid">Show Customers By Id</a>
        </li>
      </ul>
      <div class="nav-part-3"> 
        <a *ngIf="!service.loginStatus && !adminService.adminLoginStatus" class="login" routerLink="login">LogIn</a>
        <a *ngIf="service.loginStatus" class="login"  routerLink="logout">LogOut</a>
        <a *ngIf="adminService.adminLoginStatus" class="login"  routerLink="logout">LogOut</a>
        <a *ngIf="!adminService.adminLoginStatus" class="Booking btn" routerLink="booking" style="color: white;">Bookings</a>
    </div>
    </nav>
  </div>
</div>
</nav>
