.login-form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.wallpaperscraft.com/image/single/headphones_camera_retro_122094_1280x720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .inner-form{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
    height: 70%;
    padding-top: 4%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
  }
  .login-form h2{
    margin-top: 30px;
    font-weight: bolder;
    font-size:xx-large;
    color: black;
    text-shadow: 2px 2px 2px orange;
  }
  
  .login-form .formGroup{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: aliceblue;
  }
  .login-form .formGroup label{
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgb(81, 75, 236);
    color: white;
  }
  .login-form .formGroup label::after{
    content:" *";
    color: red;
    font-size: 20px;
  }
  .login-form .formGroup input{
    width: 100%;
    height: 50px;
    opacity: 0.5;
    border-bottom: 3px solid rgb(185, 249, 244);
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
  }
  .login-form .formGroup button{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.5s;
  }
  .login-form .formGroup button:hover{
    color: wheat;
    background-color:black;
  }
  .login-form .formGroup p{
    color: white;
    margin-top: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    
  }

  .warning{
    margin-left: 10%;
    width: 80%;
    color: red;
  }
  span{
    margin: 18px 120px;
    color: black;
    font-weight: bolder;
  }
  a{
    font-weight: bolder;
    color: red;
    text-decoration: none;
  }
  a:hover{
    color: green;
    text-decoration: underline;
  }
  .forgot{
    margin: 0px 120px;
    color: blue;
  }