<div class="outer1">
<div class="container">
  <br>
<br>
<br>
    <h1>Contact Us</h1>
    <p>Please feel free to reach out to us for any queries or concerns.</p>
  
    <h2>Corporate Address:</h2>
    <p># 24/2B, 52 Feet Road, Near KMC Road, Madhura Nagar, Hyderabad – 500032</p>
    
    <h2>Email:</h2>
    <p>helpline&#64;ggninternational.in</p>
    
    <h2>Phone:</h2>
    <ul>
      <li>ANDHRA_PRADESH : 080 42464222 (10 AM - 10 PM)</li>
      <li>HYDERABAD      : 080 42464444 (10 AM - 10 PM)</li>
    </ul>
  
    <h2>WhatsApp:</h2>
    <p>WhatsApp us &#64; 9108444777 (10 AM - 7 PM)</p>
  
    <h2>Trade Enquiries:</h2>
    <p>Email: sales&#64;ggeinternational.in</p>
  
    <h2>Corporate Enquiries:</h2>
    <p># 24/2B, 52 Feet Road, Near KMC Road, Madhura Nagar, Hyderabad – 500032</p>
    <p>Email: corpenquiries&#64;ggeinternational.in</p>
  
    <h2>GGE-Waste Management Toll-Free Number:</h2>
    <p>18001024888</p>
</div>
<br>
  <hr>
</div>