.outer1{
  width: 100vw;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  height: 800px;
}

h1 {
  /* color: #333; */
  font-size: 24px;
}

h2 {
  /* color: #333; */
  font-size: 20px;
  margin-top: 20px;
}

p {
  /* color: #666; */
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  margin-top: 0;
}

.contact-info ul {
  margin-top: 10px;
}

.contact-info li {
  font-weight: bold;
}

.contact-info p {
  margin-bottom: 5px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


/* 
.container {
  max-width: 600px;
  padding: 20px;
  float:left;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p, ul {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
