<div class="container">
  <br>
  <h1 style="text-align: center;">Connecting Minds,<b><span style="color: #4a90e2;"> Shaping Futures!</span></b></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://wallpapers.com/images/hd/corporate-event-1920-x-1080-wallpaper-3aofpuvo59f02ca4.jpg" class="img-fluid" style="height: 275px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://images.unsplash.com/photo-1558008258-3256797b43f3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29ycG9yYXRlJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D" class="img-fluid" style="height: 275px; width: 500px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://media.istockphoto.com/id/499517325/photo/a-man-speaking-at-a-business-conference.jpg?s=612x612&w=0&k=20&c=gWTTDs_Hl6AEGOunoQ2LsjrcTJkknf9G8BGqsywyEtE=" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://images.pexels.com/photos/1708936/pexels-photo-1708936.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://wallpapercave.com/wp/wp7488244.jpg" style="height: 275px;" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://www.fredericpaulussen.be/wp-content/uploads/2020/05/photography-prices-for-events.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://unlimited-productions.com/app/uploads/1-18.jpg" class="img-fluid" style="height: 270px; width: 500px;" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://orlandosydney.com/wp-content/uploads/2017/12/Gala-Dinner-ICC-Sydney-Grand-Ball-Room-orlandosydney.com-OS2_6124.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://static.wixstatic.com/media/8b301e_46131705affc4e33beea5504000589c0~mv2_d_3000_1687_s_2.jpg/v1/fill/w_560,h_356,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/8b301e_46131705affc4e33beea5504000589c0~mv2_d_3000_1687_s_2.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary" routerLink="/book-form">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>